<div class="col-md-12">
    <div *ngIf="!identity || identity == null">
        Inicia sesión para acceder a más opciones...
    </div>

    <div class="col-md-12" *ngIf="identity && identity.sub">
        <div class="all-tasks">
            <div class="loader" *ngIf="loading == 'show'">
                <img src="assets/img/loader.gif">
            </div>
            <table class="table table-hover table-striped" id="task-list" *ngIf="tasks && tasks.length >= 1">
                <tr>
                    <th>Estado</th>
                    <th>Titulo</th>
                    <th>Accion</th>
                </tr>
                <tr *ngFor="let task of tasks" class="task-item">
                    <td>
                        <h4>
                            <span class="label label-lg label-success" *ngIf="task.status == 'finished'">
                                Acabada
                            </span>
                            <span class="label label-lg label-warning" *ngIf="task.status == 'todo'">
                                Para hacer
                            </span>
                            <span class="label label-lg label-primary" *ngIf="task.status == 'new'">
                                Nueva
                            </span>
                        </h4>
                    </td>
                    <td>
                        <h4>
                            <a [routerLink]="['task', task.id]">{{ task.title }}</a>
                        </h4>
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            </table>

            <ul class="pagination" *ngIf="tasks && tasks.length >= 1">
                <li>
                    <a [routerLink]="['/index', pagePrev]" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li *ngFor="let page of pages">
                    <a [routerLink]="['/index', page+1]">{{ page+1 }}</a>
                </li>
                <li>
                    <a [routerLink]="['/index', pageNext]" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>